{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
      

    <h1 class="govuk-heading-xl">Get started</h1><h2 class="govuk-heading-m"></h2>

        

        <nav class="app-sub-navigation" aria-label="Sub navigation">

          <ul class="app-sub-navigation__list">
        
        
              
        
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link"  href="get-started">Get started</a>
            </li>


            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link"   href="about">About</a>
            </li>

            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link"  href="join">Community</a>
            </li>

            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link"  href="best-practice">Good practice</a>
            </li>
          
            
    
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page" href="help">Help</a>
            </li>

            
              
            </ul>
        
        </nav>


        
                
              </td>
              
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p> For feedback or questions regarding the service - email the ADA project team <a href="mailto:ADAPTTeam@education.gov.uk"target="_blank">ADAPTTeam@education.gov.uk</a></p>
                
              </td>
              
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p>To get access to data - you need to raise a request on the <a href="https://dfe.service-now.com/serviceportal?id=incident&sys_id=327e8eb01b6e4c502fe864606e4bcb26" target="_blank">IT Service Portal</a></p>
                
              </td>
              
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p>You can report a problem on the <a href= "https://dfe.service-now.com/serviceportal?id=incident&sys_id=327e8eb01b6e4c502fe864606e4bcb26" target="_blank">IT Service Portal</a></p>
                
              </td>

              <h2 class="govuk-heading-m">Help <datagrid></datagrid></h2>
        <p>To access more tools and tips on using Databricks - visit our <a href= "https://teams.microsoft.com/l/channel/19%3a941fb486de674cd886d9406255864beb%40thread.tacv2/Support?groupId=73f247e9-cb25-4e0e-80e0-21a64bc190e7&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9" target="_blank">Support Guides</a> (access is restricted).</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"> </th>
              
            </tr>
          </thead>
          </tr>
            
          
          
          
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p> For guidance on how to get the best out of the ADA service - see the Analysts Guide <a href= "https://teams.microsoft.com/l/channel/19%3a311baeecc50b4a49b22e72b22851bcc7%40thread.tacv2/Databricks?groupId=73f247e9-cb25-4e0e-80e0-21a64bc190e7&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9" target="_blank">Databricks feedback</a> on Teams.</p>
              
            </tr>
            </table> 
        
        
        
        
          
          
         
        

      </div>
      
    </div>
  </main>
</div>


{% endblock %}