{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      

        <h1 class="govuk-heading-xl">Families reports</h1>

        <h2 class="govuk-heading-m"></h2>

        

        <nav class="app-sub-navigation" aria-label="Sub navigation">

          <ul class="app-sub-navigation__list">
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="families-list">PowerBI</a>
                </li>
              
          
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" aria-current="page" href="rshiny">RShiny</a>
                </li>
              
              
          
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="excel">Excel workbooks</a>
                </li>

                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="static">Static documents</a>
                </li>
              
            </ul>
        
        </nav>

    

            
          
        

        

        <h2 class="govuk-heading-m">Percentage of LA's rated inadequate for CSE services</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
            
            <dt class="govuk-summary-list__key">
             Performance over time
            </dt>
            <dd class="govuk-summary-list__value">
              Table over time
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Open<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


        
           <div class="govuk-summary-list__row">
            
            
            <dt class="govuk-summary-list__key">
              Report owner
              </dt>
            <dd class="govuk-summary-list__value">
              Jatinder Singh
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

        </dl>
        
        

        <h2 class="govuk-heading-m">Percentage of KS2 pupils achieving the expected standard </h2>
        

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              By Local Authority
            </dt>
            <dd class="govuk-summary-list__value">
              National average 59%
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Open<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Report owner
            </dt>
            <dd class="govuk-summary-list__value">
              Robert Bridger
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="mailto:rbridger@weirtraining.co.uk">rbridger@weirtraining.co.uk</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="waste"></label>
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          

        </dl>



        

        


        <h2 class="govuk-heading-m">Ethnicity</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pupils at the end of their 16 to 18 study by ethnicity
            </dt>
            <dd class="govuk-summary-list__value">
             Theo Curtis
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Open<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Report owner
            </dt>
            <dd class="govuk-summary-list__value">
              Theo Curtis
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="mailto:tcurtis@weirtraining.co.uk">theo.curtis@educaion.gov.uk</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>


        </dl>
        

      </div>
    </div>
  </main>
</div>

</fieldset>
  
       
      </div>
    </div>
  </main>
</div>

  



{% endblock %}