{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      

        <h1 class="govuk-heading-xl">Families reports</h1>

        <h2 class="govuk-heading-m"></h2>

        

        <nav class="app-sub-navigation" aria-label="Sub navigation">

          <ul class="app-sub-navigation__list">
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="families-list">PowerBI</a>
                </li>
              
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="rshiny">RShiny</a>
                </li>
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="excel">Excel workbook</a>
                </li>

                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" aria-current="page" href="static">Static documents</a>
                </li>
              
            </ul>
        
        </nav>

       
     
          

        <br>
        
        
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href="https://app.powerbi.com/groups/me/apps/7ad7041d-c815-4c04-a4c5-e879c71aeee2/reports/[…]f0d5-4a21-b3c5-2fc32ea40d0d/ReportSection50c2b93695448b044147" target="_blank">
          Percentage of LA's rated inadequate for CSE services</a></h3>
<p>Second waiting<br>Bethany<br> 30 Aug 2020</p>
<hr>

<br><h2 class="govuk-heading-m">Percentage of KS2 pupils achieving the expected standard</h2>
<p>Second assigned<br>Bethany<br>24 Aug 2020</p>
<hr>

<br><h2 class="govuk-heading-m">Ethnicity</h2>
<p>Tom<br>21 Aug 2020 at 9:49pm</p>
<hr>

        
       
      </div>
    </div>
  </main>
</div>


{% endblock %}