{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-body account-info">
    <div>
        <span class="your-name" id="bannerUserName">Florence Bridger UKPRN:123456 </span><a class="account-link" href="details" id="signout-link">Sign out</a>
    </div>


</div>

{% endblock %}

{% block content %}


        

  <span class="govuk-caption-xl">Impact Training Limited </span><br>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which of these arrangements do you have now?
      </h1>
    </legend><br>
    
    
        <div id="waste-hint" class="govuk-hint">
          Select all that apply.
        </div>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              At least 2 non-executive directors
            </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
              That provide independant oversight of your processes.


            </div>

          </div><br>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              At least 2 funding experts
            </label>

            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
              That oversee the submission of data to funding bodies
            </div>
          </div><br>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              An audit committee
            </label>

            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
              That carry out independant assessments of your processes.
            </div>
          </div><br>
          

          
        </div>
    
      
  </fieldset>
</div>

<br>


          <a href="role-main" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}