{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Getting started with SQL Editor
      </h1>
    </legend>
  </fieldset>
</div>

    
  
<h2 class="govuk-heading-m">First steps</h2>
<p>Sign in to <a class="govuk-link" href="https://adb-4231618882514780.0.azuredatabricks.net/login.html?o=4231618882514780" target="_blank">Databricks</a> and make sure you are in the SQL workspace by selecting SQL on the left sidebar.</p> 
  
<p><img src="/public/images/sql1.png" class="app-walkthrough-image"></p>
<p>This will change the menu items.</p>
<p>On the left sidebar again - select <STRONG>SQL Editor</STRONG>.</p>
<p>This takes you straight in to a working space. It will look similar to Microsoft SQL Server Management Studio (SSMS).</p>

<h2 class="govuk-heading-m">Run a query</h2>
<ol class="govuk-list govuk-list--number">
  <li>On the top bar on the right side select a SQL warehouse from the drop down. This may take a few minutes to load.</li>
  <p><img src="/public/images/sql-select.png" class="app-walkthrough-image"></p><br>

  <li>On the top bar on the right side select a SQL warehouse from the drop down. This may take a few minutes to load.</li>
  <p><img src="/public/images/sql-hello-world.png" class="app-walkthrough-image"></p><br>

<li>Click on the <STRONG>Run all</STRONG> button on the top bar to run your code.</li>
<p><img src="/public/images/new-note2.png" class="app-walkthrough-image"></p>
</ol>

<br><a href="get-started" class="govuk-button show-continue" style="display: inline;">
      Back
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}