{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Getting started with Databricks Notebooks
      </h1>
    </legend>
  </fieldset>
</div>

    
  
<h2 class="govuk-heading-m">Requirements</h2>
<p>When you're logged in to Databricks - make sure you're in the 'Data Science and Engineering' workspace. Select the <img src="/public/images/workspace-icon.png" class="app-walkthrough-icon"> workspace type from the top left sidebar.</p>
<p><img src="/public/images/workspace-select.png" class="app-walkthrough-image"></p>
<br>
<h2 class="govuk-heading-m">Create a Notebook</h2>
<ol class="govuk-list govuk-list--number">
  <li>Using the workspace directory menu, navigate to where you want to create your new Notebook. A good starting place is your user home directory. This is private to you by default - although you can share Notebooks if you want to.</li>
  
  <p><img src="/public/images/new-notebook.png" class="app-walkthrough-image"></p>
  <li>In the Workspace folder select Create > Notebook.</li>
  <li>On the 'Create Notebook' dialog enter a name and select SQL in the 'Default Language' drop-down. This
    will determine the language of the notebook.</li>

    <p><img src="/public/images/create-note.png" class="app-walkthrough-image"></p>
    <li>Click Create.</li>
    <li>The Notebook opens with an empty cell at the top.</li>
    <p><img src="/public/images/notebook4.png" class="app-walkthrough-image"></p>
    <li>Attach the Notebook to an available cluster.</li>
</ol>


  <br><br>

  
  <h2 class="govuk-heading-m">Workspace root folder</h2>
  <p>The workspace is the special root folder that stores your Azure Databricks assets, like notebooks and
    libraries, and the data you import.</p>
    <p>To navigate to the Workspace root folder:</p>
    <ol class="govuk-list govuk-list--number">
      <li>Click on <img src="/public/images/workspace-icon.png" class="app-walkthrough-icon"> Workspace.</li>
      <li>Click on the drop-down arrow.</li>
    </ol>
    <p>The Workspace root folder is a container for all of our organisation's Azure Databricks static assets.</p>

    <p><img src="/public/images/shared2.png" class="app-walkthrough-image"></p>
    


  <br>
  <p class="govuk-body">Within the Workspace root folder:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Shared is for sharing objects across our organization. All users have full permissions for the
    objects in Shared.</li>
  <li>Users contains a folder for each user.</li>
  
</ul>
<p><img src="/public/images/notebook-root-folder.png" class="app-walkthrough-image"></p>

<br><br>
<h2 class="govuk-heading-m">Create a Notebook in any folder</h2>
<p>We can create a new Notebook in any folder. For example - in the Shared folder, following these steps:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>In the sidebar, click <img src="/public/images/workspace-icon.png" class="app-walkthrough-icon"> Workspace. Do one of the following:</li>
  <br>
  <p>Next to any folder, click the on the right side of the text and
    select Create > Notebook.</p>
    <p>In the workspace or a user folder, click and select Create > Notebook.</p>
  <li>Follow steps 2 to 4 in Use the Create button.</li>
  
</ul>
<br><br> 

<h2 class="govuk-heading-m">Open a Notebook</h2>
<p>In our workspace, click <img src="/public/images/doc-icon.png" class="app-walkthrough-icon"> <br>The notebook path displays when you hover over the title.</p>
<p>Folders and Workspace object operations for information about how to access the workspace menu and
  delete notebooks or other items in the workspace.</p>


<br><br>
<h2 class="govuk-heading-m">How to copy a Notebook path</h2>
<p>To copy a notebook file path without opening the notebook, right-click the notebook name or click the <img src="/public/images/down-arrow.png" class="app-walkthrough-icon">
  to the right of the notebook name and select <strong>Copy File Path</strong>.</p>

<br><br>
<h2 class="govuk-heading-m">Rename a Notebook</h2>

<p>To change the name of an open notebook, click and edit inline or click File > Rename.</p>

<p><img src="/public/images/change.png" class="app-walkthrough-image"></p>

<br><br>
<h2 class="govuk-heading-m">How to Switch to a different workspace</h2>
<p>If you have access to more than one workspace in the same account, you can switch from one to the other.</p>
<ol class="govuk-list govuk-list--number">
  <li>Click the workspace name in the top bar.</li>
  <li>Select a workspace from the drop down to switch to.</li>
</ol>

<p><img src="/public/images/change-workspace.png" class="app-walkthrough-image"></p>

<br><br>
<h2 class="govuk-heading-m">Code languages in Notebooks</h2>
<p>Click the drop down next to the Workbook name and select a language.</p>
<p><img src="/public/images/languages.png" class="app-walkthrough-image"></p>
<br><br>


<br><br><a href="get-started" class="govuk-button show-continue" style="display: inline;">
      Back
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}