{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}



  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Get support</h1>

        <h2 class="govuk-heading-m"></h2>

        

        <nav class="app-sub-navigation" aria-label="Sub navigation">

          <ul class="app-sub-navigation__list">
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="get-started">Getting started</a>
                </li>
              
            
  
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" aria-current="page" href="about">About ADA</a>
                </li>
              
            
        
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="access">Who to contact</a>
                </li>
              
            </ul>
        
        </nav>

        <h2 class="govuk-heading-m">How to use this service</h2>

        <p>This service provides one place for analysts to access the systems they need to analyse and model data.</p>
        <p>It's available to anyone who works for the Department of Education as long as you're connected to the DfE network.</p>
           
          <br><br>

          
          <h2 class="govuk-heading-m">The future</h2>
          <p>The ambition is to enable access to all datasets across DfE and ESFA and retire the legacy presentation layer applications. This will create common ways of working.</p>
          
         
          <br>  
          <br>
         

        
        
        
       

        <table class="govuk-table">

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              
              <th class="govuk-table__header" scope="col"></th>
              <th class="govuk-table__header" scope="col"></th>
              
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><a class="browse-list-item-link" href="https://s101p01-ifax01.ad.hq.dept:8443/marketplace/browse" target="_blank">Find data</a> </td>
              
              <td class="govuk-table__cell" scope="row">Links to the Data Discovery Platform. The Data Marketplace section is a catalogue of metadata and data sets. Log in using your DfE email.</p>
                </td>
              
            </tr>
            <tr class="govuk-table__row">
            
              <td class="govuk-table__cell" scope="row"> <a class="browse-list-item-link" a href="https://adb-4231618882514780.0.azuredatabricks.net/login.html?o=4231618882514780" target="_blank">Analyse data</a>
                
              </td>
              <td class="govuk-table__cell" scope="row">Analyse and model data using Databricks - you'll need to raise a request for access on the IT Service Portal. Do this via the “Request data” tile. You will need to set up two-factor authentication.</td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><a class="browse-list-item-link" href="#">Request data</a>
                  </td>
              <td class="govuk-table__cell" scope="row">Links to the ServiceNow form - where you can request access for datasets in ADA, AnM, EDAP1 and PDR. </td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><a class="browse-list-item-link" href="#">Get support</a>
                  </td>
              <td class="govuk-table__cell" scope="row">Links to learning materials for Databricks and the communities on MS Teams that can provide support when you need it. That's this section.</td>
             
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><a class="browse-list-item-link" href="#">Published reports</a>
                  </td>
              <td class="govuk-table__cell" scope="row">Links to reports published on the Explore Education Statistics public portal and to a repository of internal shared reports.</td>
              
            </tr>

            <tr class="govuk-table__row">
              
              <td class="govuk-table__cell" scope="row"><a class="browse-list-item-link" href="#">News and updates</a>
                  </td>
              <td class="govuk-table__cell" scope="row">The latest news plus any new data and feature updates.</td>
              
            </tr>

  
          </tbody>
          </table> 
        
        <br>
        <a href="home1" class="govuk-button show-continue" style="display: inline;">
          Back
        </a>
       
          

      

      </div>
    </div>
  </main>
</div>

</fieldset>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}