{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  

{% endblock %}

{% block content %}




<div class="govuk-grid-row flex">

       

    <div class="govuk-grid-column-full"><br><p></p>
            
   
        

        <h2 class="govuk-heading-l">Apprenticeship Accountability Framework (AAF)</h2>



        <div class="govuk-grid-row tile-group">

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#" target="_blank">
                        
                        
                        <span class="govuk-heading-m heading">Apprentices</span>
                        <span class="govuk-heading-m heading">661</span>
                    </a>
                    
    
                </div>
     
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#" target="_blank">
                        <span class="govuk-heading-m heading">Withdrawals</span>
                        <span class="govuk-heading-m heading">7</span>
                    </a>
                    
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#" target="_blank">
                        <span class="govuk-heading-m heading">End point assessment</span>
                        <span class="govuk-heading-m heading">0</span>
                    </a>
                    
                </div>
    
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-m heading">Employer feedback</span>
                        <span class="govuk-heading-m heading">3.7</span>
                    </a>
                    
    
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-m heading">Breaks in learning</span>
                        <span class="govuk-heading govuk-!-font-size-16">Over 180 days: 0.1%</span><br>
                        <span class="govuk-heading govuk-!-font-size-16">Over 365 days: 0.4%</span>
                    </a>
                    
    
                </div>
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-m heading">Past planned end date</span>
                        <span class="govuk-heading govuk-!-font-size-16">Over 180 days: 5.7%</span><br>
                        <span class="govuk-heading govuk-!-font-size-16">Over 365 days: 1.3%</span>
                    </a>
                    
    
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-m heading">Employer feedback</span>
                        <span class="govuk-heading-m heading">3.7</span>
                    </a>
                    
    
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-m heading">Breaks in learning</span>
                        <span class="govuk-heading govuk-!-font-size-16">Over 180 days: 0.1%</span><br>
                        <span class="govuk-heading govuk-!-font-size-16">Over 365 days: 0.4%</span>
                    </a>
                    
    
                </div>
                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-m heading">Past planned end date</span>
                        <span class="govuk-heading govuk-!-font-size-16">Over 180 days: 5.7%</span><br>
                        <span class="govuk-heading govuk-!-font-size-16">Over 365 days: 1.3%</span>
                    </a>
                    
    
                </div>


            </div>

            <div class="govuk-grid-row tile-group">

                <div class="govuk-grid-column-one-third tile">
                        <a class="grey min-height-small" href="esfa">
                            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Employer feedback</span>
                            
                        </a>
                        <div class="govuk-body warning-info-2">3.7</div>
                        <span id="ob1" class="govuk-body onboarding-info">
                            
                            
                            View reports 
                             
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a> 
                        </span>
                    </div>

    
    

                <div class="govuk-grid-column-one-third tile">
                        <a class="grey min-height-small" href="families">
                            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Breaks in  learning</span> <br>
                            <span class="govuk-body govuk-!-font-size-16"></span>
                        </a>
                        <div class="govuk-body warning-info-2">1 report</div>
                        <span id="ob6" class="govuk-body onboarding-info">
                                <div class="arrow-up"></div>
                                <a class="close" href="#">Close</a>
                                View reports
                                 <br>
                                <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                            </span>
                    </div>


                <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="#">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Past planned end date</span> <br>
                        <span class="govuk-body govuk-!-font-size-16"> </span>
                    </a>
                    <div class="govuk-body warning-info-2">0 reports</div>
                    <span id="ob4" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            View 13 reports
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next4">Next</a> 
                        </span>
                </div>
    
                <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="#">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Regions</span> <br>
                       <!-- <span class="govuk-body govuk-!-font-size-16">Funding Rules Monitoring</span>--> 
                        
                    </a>
                    <div class="govuk-body warning-info-2"> 0 reports</div>
                    <span id="ob5" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next5">Next</a> 
                        </span>
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="schools">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Schools</span> <br>
                        <span class="govuk-body govuk-!-font-size-16"></span>
                    </a>
                    <div class="govuk-body warning-info-2">1 report</div>
                    <span id="ob6" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            View reports
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a> 
                        </span>
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="#">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Skills</span> <br>
                        <span class="govuk-body govuk-!-font-size-16"> </span>
                    </a>
                    <div class="govuk-body warning-info-2">0 reports</div>
                    <span id="ob4" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            View 13 reports
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next4">Next</a> 
                        </span>
                </div>

                


        </div>

            

                
    
        </div>
   

    
        
        
    </div>
    
</div>


{% endblock %}