{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Strategy reports </h1>
  
  
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> </th>
                
              </tr>
            </thead>
            
            
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    <a href="https://rsconnect/rsc/Text-Analysis" target="_blank"> 
                      Text Analysis Tool
                    </a></h3>
                    <p><strong>RShiny </strong> - Disadvantage report<br>
                    Report owner: Rob Miller <a href="mailto:robert.smith@education.gov.uk">robert.smith@education.gov.uk</a><br>
                    Team: Automation<br>
                 Last published: 18 August 2020</p>
                </td>
                
              </tr>
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>
                    Percentage of LA's rated inadequate for CSE services</a></h3>
                    <p><strong>RShiny </strong> - Inadequate report<br>
                      Report owner: <a href="mailto:robert.smith@education.gov.uk">robert.smith@education.gov.uk</a><br>
                      Team: Counter fraud<br>
                   Last published: 18 August 2020</p>
                </td>
                
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>
                    Percentage of KS2 pupils achieving the expected standard</a></h3>
                    <p><strong>RShiny </strong> - Inadequate report<br>
                      Report owner: <a href="mailto:robert.smith@education.gov.uk">robert.smith@education.gov.uk</a><br>
                      Team: Counter fraud<br>
                   Last published: 18 August 2020</p>
                   
                </td>
                
                

              </td>
            </tr>
           
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3"> <a class=“govuk-link--no-visited-state” href=“”>
                    Ethnicity</a></h3>
                    <p><strong>RShiny </strong> - Ethnicity report<br>
                      Report owner: <a href="mailto:robert.smith@education.gov.uk">robert.smith@education.gov.uk</a><br>
                      Team: Counter fraud<br>
                   Last published: 18 August 2020</p>
                </td>
                
                
              </tr>
              
                
                
                                             
            </tbody>
          </table>
  
        
          
        </div>
      </div>
        </div>
      </div>
    </main>
 
</div>

  

         
      


{% endblock %}