{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 
  <!--<a href="#" class="govuk-back-link">Back</a>-->

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  
  <h1 class="govuk-heading-xl">Terms and conditions for requesting access to data</h1>
  <h2 class="govuk-heading-l">DfE Data Protection Policy</h2>

  <p class="govuk-body">You must agree to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>ensure that only personal data which is necessary for a specific purpose is processed.</li>
  <li>ensure that the minimum amount of personal data is collected and processed for a specific purpose.</li>
  <li>ensure the processing is limited to that necessary for each purpose.</li>
  <li>ensure the data is stored no longer than necessary.</li>
  
  <li>complete a Data Protection Impact Assessment (DPIA)1 where processing presents a high risk to the rights and freedoms of data subjects.</li>
  <li>complete staff training on how to comply with Data Protection Law and keeping a record of training completed.</li>
  <li>report any losses or suspected breaches of personal data to the Information Commissioner within 72 hours. When the personal data breach is likely to result in a high risk to the rights and freedoms of individuals, we are required by law to notify the affected individuals without delay.</li>
</ul>
<p>
  
  
  
  
  
  </p>
        
 </div>
  </div>
</div>
        



{% endblock %}