{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Analyse data using SQL Editor
      </h1>
    </legend>
  </fieldset>
</div>
    
<h2 class="govuk-heading-m">Requirements</h2>
<p>You are logged in to Databricks in the Data Science and Engineering workspace.</p>
<p>On the left sidebar - select the SQL area.</p>
<p><img src="/public/images/sql-select1.png" class="app-walkthrough-image"></p>
    
  

<h2 class="govuk-heading-m">How to create a query in SQL editor</h2>
<p><img src="/public/images/sql-area.png" class="app-walkthrough-image"></p>
    <p>Click <img src="/public/images/plus-icon.png" class="app-walkthrough-icon"> New in the sidebar and select Query.</p>
    <p><img src="/public/images/sql-new.png" class="app-walkthrough-image"></p>
    <p>Type SELECT in the box and start typing. The browser will suggest available databases and tables.</p>
    
  

 
  <p><img src="/public/images/sql-query1.png" class="app-walkthrough-image"></p>

  <br><br>
  <h2 class="govuk-heading-m">Browse data objects in SQL editor</h2>
<p>You can browse data objects in Data Explorer.</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>To see a data object you must be the data object owner or be granted privileges to the
      object.</li>
    <li>To refresh the schema, click <img src="/public/images/circle-icon.png" class="app-walkthrough-icon"> </li>
    <li>To show the columns in a table, click the table.</li>
  </ul>


<br><br><a href="get-started" class="govuk-button show-continue" style="display: inline;">
      Back
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}