{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}



  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Get support</h1>

        <h2 class="govuk-heading-m"></h2>

        

        <nav class="app-sub-navigation" aria-label="Sub navigation">

          <ul class="app-sub-navigation__list">
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="get-started">Getting started</a>
                </li>
              
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="join">Join a community</a>
                </li>
  
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" aria-current="page" href="about">About ADA</a>
                </li>
              
            
        
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="access">Who to contact</a>
                </li>
              
            </ul>
        
        </nav>

        <h2 class="govuk-heading-m">How to use this service</h2>

        <p>This service provides one place for analysts to access the systems they need to analyse and model data.</p>
        <p>It's available to anyone who works for the Department of Education as long as you're connected to the DfE network.</p>
           
          <br><br>

          
          <h2 class="govuk-heading-m">The future</h2>
          <p>The ambition is to enable access to all datasets across DfE and ESFA and retire the legacy presentation layer applications. This will create common ways of working.</p>
          
         
          <br> 
          
          <table class="govuk-table">

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                
                <th class="govuk-table__header" scope="col"></th>
                <th class="govuk-table__header" scope="col"></th>
                
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                
                <td class="govuk-table__cell" scope="row"><a class="“govuk-link--no-visited-state”" href="glossary">
                  List of terminology</a></td>
                
                
                  </td>
                
              </tr>
              
  
    
            </tbody>
            </table> 
          
        
        <br>
        <a href="home1" class="govuk-button show-continue" style="display: inline;">
          Back
        </a>
       
          

      

      </div>
    </div>
  </main>
</div>

</fieldset>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}