{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">News and updates </h1>

      </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    

<div class="govuk-form-group">
  <label class="govuk-label" for="width-20">
    <STRONG>Create new</STRONG>
  </label>
  
</div>



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-checkboxes govuk-checkboxes--medium">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
             News item
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
              Announcement
            </label>
          </div>
          
          

          <!--<div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
             Approved
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
             Registered
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
             Rejected
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
             Timed out
            </label>
          </div>
        </div>-->
      </fieldset>
    </div>
  </div>
  <div class="govuk-grid-column-three-quarters">  
  
          <h2 class="govuk-heading-m"></h2>
          
  
  
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> </th>
                <th class="govuk-table__header" scope="col"> </th>
              </tr>
            </thead>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> 
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                      <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                        <a href="major-incident">
                          New news item title
                        </a></h3>
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                  </div></h3>
                <p><div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Detail
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                </div>
                    
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="width-20">
                        Date
                      </label>
                      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                    </div>
                </p>
              </td>
            </tr>
            
            
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                      </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                      <p class="govuk-notification-banner__heading">DWH_PL is now available in Databricks</p>
                      <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                        <a href="major-incident" class="govuk-link govuk-link--no-visited-state">
                          PDR datasets will be available soon
                        </a></h3>
                        <p><STRONG>02 August 2022</STRONG>
                        </p>
                    </div>
                  </div> 
                  
                </td>
                
              </tr>
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>
                    Phonics 2022 final data</a></h3>
                  <p>
                      Final data is now available on the PDR<br>
                  <STRONG>02 August 2022</STRONG></p>
                </td>
              </tr>




              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>
                    DWH_PL is now available in Databricks</a></h3>
                    <p>
                      PDR datasets will be available soon.<br>
                    
                      <STRONG>15 July 2022</STRONG></p>
                   
                </td>
                
              </td>
            </tr>
           
              
              
              
          
              
            </tbody>
          </table>

  
        </div>
      </div>
    </main>
  </div>
</div>

  

         
      


{% endblock %}