{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            
      <span class="govuk-caption-l">Using R, Python and SQL in Databricks</span><br><br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        How clusters work</h1>
    </legend>
  </fieldset>
</div>

<p>A cluster is a group of machines that provide processing power.<br>
 <p>Even if you don't use Databricks to run your analyses, you will need to use clusters to access the data.</p>
 <p>You will be given access to shared clusters when you request access to the platform.</p>
   <br><br>

    

<br>
<h2 class="govuk-heading-m">Available clusters</h2>
<ol class="govuk-list govuk-list--number">
  <li>Click on the <STRONG>Compute</STRONG> button on the left side menu to see the clusters available to you.<br> Click on each cluster to see more details.<br>
    Click on the play icon at the end of the row - to start the cluster. </li>
  
  <p><img src="/public/images/compute.png" class="app-walkthrough-image"></p><br>
  <p>If you think you should have access to a cluster that isn't listed in your account - contact the ADA project team <a href="mailto:ADAPTTeam@education.gov.uk"target="_blank">ADAPTTeam@education.gov.uk</a></p>
  
</ol>

<br>

<h2 class="govuk-heading-m">Creating a cluster</h2>
<p>Databricks administrators will create shared project clusters.<br>
  You can can create personal clusters in line with prepared templates known as policies.<br>
  If youre using R you need to create one of these personal clusters.</p>
  <p>The most basic policy is the <STRONG>DfE Personal Compute </STRONG></p>
  <p>This allows you to create a small cluster for personal use.
  All users have access to this policy.</p>
  <p>You can create a cluster using this policy by clicking the <STRONG>Create Personal Compute</STRONG> button.</p>
  





<div class="govuk-button-group">
            
  <a href="notebooks-running-code" class="govuk-button show-continue" style="display: inline;">
    Back
  </a>
  
  
  

</div>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}