{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            
      <span class="govuk-caption-l">Using R, Python and SQL in Databricks</span><br><br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        How clusters work</h1>
    </legend>
  </fieldset>
</div>

<p>A cluster is a group of remote machines providing processing power.<br>
 They help to manage the data stored in the platform, so even if you don't use Databricks to run your analyses, you will need to use clusters to access the data.</p>
  <p>You will be given access to clusters when you request access to the platform.<br>
    If you think you should have access to a cluster that isn't listed in your account - contact the ADA project team <a href="mailto:ADAPTTeam@education.gov.uk"target="_blank">ADAPTTeam@education.gov.uk</a></p><br><br>
</div>
<div class="govuk-grid-column-full">
<h2 class="govuk-heading-l">Available clusters</h2>
<ol class="govuk-list govuk-list--number">
  <li>Click on the <STRONG>Compute</STRONG> button on the left side menu to see the clusters available to you.<br> Click on each cluster to see more details.<br>
    Click on the play icon at the end of the row - to start the cluster. </li>
  
  <p><img src="/public/images/compute.png" class="app-walkthrough-image"></p><br>
  
  
    <li>In the DfE we use two types of clusters.<br><br> 
      <h2 class="govuk-heading-m">Shared Access Clusters</h2>
  These clusters are linked to specific projects to help manage usage.<br> They are set up by an administrator and will be sized for the project needs.<br> They will scale up and down to manage varying workloads. <br>
  You cannot use a shared cluster if you are working in R.<br><br><p></p>
  <h2 class="govuk-heading-m">Single User Access (Personal) Clusters</h2>
  These clusters are linked to a single user and the size will be limited.<br>
  They are useful when you need to make configuration changes that are specific to your needs.<br>
  Use this cluster if you are working in R.</li>
  
  
  </p>


    
    


<br><br>


</ol>

<br>

<div class="govuk-button-group">
            
  <a href="notebooks-running-code" class="govuk-button show-continue" style="display: inline;">
    Back
  </a>
  
  
  

</div>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}