{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
     Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      

        <h1 class="govuk-heading-xl">Support</h1>

        

        

        <nav class="app-sub-navigation" aria-label="Sub navigation">

          <ul class="app-sub-navigation__list">
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" aria-current="page" href="get-started">Getting started</a>
                </li>

                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="join">Join a community</a>
                </li>
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="about">About ADA</a>
                </li>
              
                
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="access">Who to contact</a>
                </li>
              
            </ul>
        
        </nav>

        <h2 class="govuk-heading-m">Getting started with Databricks</h2>
        <p>If you haven't used Databricks before - you will need access to CIP and the Databricks platform.</p>

        <p>In time - all datasets will be availble on Databricks. They will be made available in stages.</p>
        <br>
        <p>See <a href="datasets">available datasets on databricks</a>.</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"> </th>
              
            </tr>
          </thead>
          </tr>
            
          
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">

                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">Analysing data using Databricks</h3>
                <p>You can choose which method you want to use - depending on your previous experience.</p>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> <a class="“govuk-link--no-visited-state”" href="notebooks-learning">
                  Databricks Notebooks</a></h3>
                <p>Notebooks is the simplest and most intuitive way to work with data for analysts new to the platform. It provides real-time co-authoring in multiple languages, automatic versioning, and data visualisation.</p>

                <br>
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> <a class="“govuk-link--no-visited-state”" href="sql-learning">
                    Databricks SQL Editor</a></h3>
                  <p>SQL Editor is similar to SQL Server Management Studio (SSMS). It provides a simple interface to run queries on data using SQL.</p>
                  <br>
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">  <a class="“govuk-link--no-visited-state”" href="r-learning">
                    RStudio on Databricks</a>
                   </h3>
                  <p>RStudio is an Integrated Development Environment (IDE) for users of R. Databricks offers the functionality to run a hosted version of RStudio allowing analysts access to all data and the distributed compute resources of the Databricks clusters.</p><br>
                  
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> 
                    VS code with Databricks extension</h3>
                  <p>VS Code is an Integrated Development Environment (IDE) used by many software developers. For anyone familiar with this IDE, Databricks offers an extension to allow interaction with data held in the Databricks Platform.</p>
                    
                    
              </td>
              
            </tr> 
                                                      
          </tbody>
        </table>      
    </main>
  </div>
</div>

  



{% endblock %}