{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
     Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      

        <h1 class="govuk-heading-xl">Support</h1>

        

        

        <nav class="app-sub-navigation" aria-label="Sub navigation">

          <ul class="app-sub-navigation__list">
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" aria-current="page" href="get-started">Getting started</a>
                </li>


                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="about">About</a>
                </li>

                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link"  href="join">Join a community</a>
                </li>
              
                
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="help">Help</a>
                </li>
              
            </ul>
        
        </nav>

        <h2 class="govuk-heading-m">Getting started with Databricks</h2>
        <p>If you haven't used Databricks before - you will need access to CIP and the Databricks platform.</p>

        <p>We are moving datasets in stages. In time - all datasets will be available on Databricks. See the <a href="datasets">datasets available in databricks </a>now.</p>
        <hr><br>

        <p>Make sure you follow our <a href="best-practice">Best practice</a> rules for working with data in Databricks.</p>
        
       
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"> </th>
              <th class="govuk-table__header" scope="col"> </th>
            </tr>
          </thead>
          
          
          
          <tbody class="govuk-table__body">
            
            
            
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  Analysing data using Databricks</h3>

                  <p>You can choose which method to use - depending on your previous experience.</p>
                
                
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  <a href="notebooks-learning.html" class="govuk-link govuk-link--no-visited-state">
                    Databricks Notebooks
                  </a></h3>
                  <p>
                    Notebooks is the simplest and most intuitive way to work with data for analysts new to the platform. It provides real-time co-authoring in multiple languages, automatic versioning, and data visualisation.</p>
                 
              </td>
              
            </td>
          </tr>
            

           
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                
                
                
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    <a href="sql-learning" class="govuk-link govuk-link--no-visited-state">
                      Databricks SQL Editor
                    </a></h3>
                    
                    <p>SQL Editor is similar to SQL Server Management Studio (SSMS). It provides a simple interface to run queries on data using SQL.</p>
                    <br>
                 
              </td>
              
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
             
              
              
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  <a href="r-learning" class="govuk-link govuk-link--no-visited-state">
                  Using R in Databricks
                  </a></h3>
                  
                    <p>
                      R in Databricks.</p>
               
            </td>
            
          </td>
        </tr>

        
            
          </tbody>
        </table>
       
              
    </main>
  </div>
</div>

  



{% endblock %}