{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
     Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      
        <span class="govuk-caption-l">Getting started with Databricks
        </span><br>
        <h1 class="govuk-heading-xl">Concepts you need to know</h1>

        <span class="govuk-caption-l">Databricks uses three environments:<br> 
          1. Data Science & Engineering <br>2. Machine Learning <br> 3. SQL</span>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"> </th>
              
            </tr>
          </thead>
          </tr>
            

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-s govuk-!-font-size-27">Left menu</h3>
                
                <p>The left menu expands when you hover over it.</p> 
                <p><img src="/public/images/open-menu.png" class="app-walkthrough-image"></p>
                <p>Use the menu to select the enviroment you need to work in.</p>
                <p><img src="/public/images/select-environment.png" class="app-walkthrough-image"></p>
                
                
                <p>You can set it to expand or collape permanently using the <STRONG>Menu options</STRONG> at the bottom.</p>  
                <p><img src="/public/images/menu-settings.png" class="app-walkthrough-image"></p>
                <p>Or leave it on <STRONG>Auto</STRONG> if you want to hover.</p>
                
              </td>
              
            </tr> 

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-s govuk-!-font-size-27">Notebook</h3>
                
                <p>Notebooks are used for creating data science and machine learning workflows and collaborating with colleagues. They provide real-time coauthoring in multiple languages, automatic versioning, and built-in data visualizations.
                   </p>  
              </td>
              
            </tr> 

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-s govuk-!-font-size-27">Workspace</h3>
                <p>An space for accessing your assets. It organises objects - notebooks, libraries, dashboards, and experiments into folders and provides access to data objects and computational resources.</p>  
              </td>
              
            </tr> 

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-s govuk-!-font-size-27">Cluster</h3>
                <p>A set of computation resources and configurations where you can run notebooks and jobs. There are two types of clusters: all-purpose and job.</p>  
              </td>
              
            </tr> 


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-s govuk-!-font-size-27">Unity catalog</h3>
                <p>A place to administer data access that apply across all workspaces.</p>
                <p>In Unity Catalog, the hierarchy of primary data objects flows from metastore to table:</p>
                <p><img src="/public/images/unity-catalog.png" class="app-walkthrough-image"></p><br>
                
                <p><STRONG>Metastore</STRONG>: The top-level container for metadata. Each metastore uses a three-level name (catalog.schema.table) that organizes your data.<br><br>
                  <STRONG>Catalog:</STRONG> The first layer of the object hierarchy, used to organize your data assets.<br><br>
                  <STRONG>Schema:</STRONG> Also known as databases, schemas are the second layer of the object hierarchy and contain tables and views.<br><br>
                  <STRONG>Table:</STRONG> At the lowest level in the object hierarchy are tables and views.</p>
                  
                  
              </td>
              
            </tr> 

            
  

          
                                                      
          </tbody>
        </table> 
        
        <div class="govuk-button-group">
            
          <a href="get-started" class="govuk-button show-continue" style="display: inline;">
            Back to Get started
          </a>
          
          
          
          
        
        </div>
    </main>
  </div>
</div>

  



{% endblock %}