{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            
      <span class="govuk-caption-l">Using R, Python and SQL in Databricks</span><br><br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        1. Prepare to create a notebook
      </h1>
    </legend>
  </fieldset>
</div>

    
  

<p>Log in to <a class="govuk-link" href="https://adb-4231618882514780.0.azuredatabricks.net/login.html?o=4231618882514780" target="_blank">Databricks</a></p> 
 
<p><img src="/public/images/home-new.png" class="app-walkthrough-image"></p>
<br>

<h2 class="govuk-heading-m">The right environment</h2>
<ol class="govuk-list govuk-list--number">
  <li>Check you're in the right environment by clicking on the dropdown on the top bar.</li>
  
  <p><img src="/public/images/environment.png" class="app-walkthrough-image"></p><br>
  
  
  
    <p>Table fom Craig</p>

<h2 class="govuk-heading-m">Clusters</h2>

  <li>Check you're got access to the right cluster.</li>
  
  <p><img src="/public/images/environment.png" class="app-walkthrough-image"></p><br>
  
  
    
    <p></p>
<h2 class="govuk-heading-m">Data</h2>

  <li>Check you have access to data.</li>
  
  <p><img src="/public/images/environment.png" class="app-walkthrough-image"></p><br>
  
  
   </ol> 
    <p></p>





<div class="govuk-button-group">
            
  <a href="notebooks-running-code" class="govuk-button show-continue" style="display: inline;">
    Next - create a notebook
  </a>
  
  <a href="notebooks-learning" class="govuk-button govuk-button--secondary" style="display: inline;">
    Back to Using R, Python and SQL
  </a>
  
  

</div>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}