{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Notebooks - loading data
      </h1>
    </legend>
  </fieldset>
</div>

    
  <h2 class="govuk-heading-m">Find your data</h2>
  
<p>You need to know the path to your data - to be able to load it.</p> 
<p><img src="/public/images/load-12.png" class="app-walkthrough-image"></p>
<br>

<p>Select <STRONG>Data</STRONG> from the left sidebar.</p>
<P>Make sure you open it in a new tab or window - so you can carry on working in your Notebook.</P>
<p><img src="/public/images/load-2.png" class="app-walkthrough-image"></p>

<br>

<ol class="govuk-list govuk-list--number">
  <li>The catalogues you have access to will be displayed here. <STRONG>Pre prod</STRONG> and <STRONG>Prod </STRONG>is where the real data sits.</li>
  
  <p><img src="/public/images/load-31.png" class="app-walkthrough-image"></p><br>
  
  <li>Select the catalogue...</li>
    
    <li>Select schema...</li>



<li>Select table...</li><br>
<p><img src="/public/images/load-31.png" class="app-walkthrough-image"></p><br>
</ol>


<br><a href="notebooks-learning" class="govuk-button show-continue" style="display: inline;">
      Back
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}