{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Notebooks - visualize your data
      </h1>
    </legend>
  </fieldset>
</div>

    
  
<h2 class="govuk-heading-m">Visualize data in your Notebook</h2>
<p>Before you start - you will need your data loaded in to your Notebook.</p> 
<p>If you haven't loaded it - this is explained in <a href="notebooks-loading-data">Loading your data</a></p> 
<br>
<p>Databricks offers a quick way to visualize your data for recognised data types. This includes most tabular data types including data frames or similar.</p><br>
<p>Use the built in display() function to show your data in an interactive tabular form.
This function is available in Python and R. If you're using SQL your data will automatically be displayed when you execute a query.</p>
<br>
<form action="/form-handler" method="post" novalidate>
      

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
  
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#Python">
              Python
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#R">
              R
            </a>
          </li>
          
    </ul>
        <div class="govuk-tabs__panel" id="Python">
            <p>spark_df = spark.read.table('samples.nyctaxi.trips')<br>
              display(spark_df)</p>
  
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="R">
            <p>library(SparkR)<br>
              spark_df <- SparkR::sql("SELECT * FROM samples.nyctaxi.trips")<br>
              display(spark_df)</p>
  
        </div>
        
      </div>
  
</form>
    <br>
    <p>To see a graphic display of your data - click on the plus icon in the tab and select <strong>Visualization</strong>.</p>
<p>In the settings window that appears choose your visualization type and associated parameters and click on the <STRONG>Save</STRONG> button.
That will save your graphic in to your Notebook.</p>
<p>The generated plot is interactive. If you hover over the plot it will display additional information about your data.</p>
<p>If you need to edit the plot - click on the <strong>Edit visualization</strong> button to edit the graph in the previous screen.</p>
<br><div class="govuk-button-group">
            
  <a href="notebooks-export" class="govuk-button show-continue" style="display: inline;">
    Next - export data
  </a>

  <a href="notebooks-learning" class="govuk-button govuk-button--secondary" style="display: inline;">
    Back to Notebooks learning
  </a>
  
  
  
  

</div>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}