{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
     Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      

        <h1 class="govuk-heading-xl">R learning</h1>

    

        
        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"> </th>
              
            </tr>
          </thead>
          </tr>
            
          
          
          
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">

                
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> <a class="“govuk-link--no-visited-state”" href="notebooks-running-code">
                  Running code</a></h3>
                <p>Help Craig</p>

                <br>
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> <a class="“govuk-link--no-visited-state”" href="#">
                    Loading data</a></h3>
                    <p>Help Craig</p>
                  <br>
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">  <a class="“govuk-link--no-visited-state”" href="#">
                    Analysing data</a>
                   </h3>
                   <p>Help Craig</p>
                   <br>
                  
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> 
                   Visualising data</h3>
                   <p>Help Craig</p>
                   
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> 
                    Outputting insights</h3>
                    <p>Help Craig</p>      
                    
              </td>
              
            </tr> 
                                                      
          </tbody>
        </table>      
    </main>
  </div>
</div>


{% endblock %}