{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            
        <span class="govuk-caption-l">Using SQL in Databricks SQL Editor</span><br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Create and construct a query in SQL Editor
      </h1>
    </legend>
  </fieldset>
</div>
    

<p>On the left side bar click on the dropdown and select SQL. <img src="/public/images/sql-workspace-icon.png" class="app-walkthrough-icon"></p>
<p><img src="/public/images/sql-workspace.png" class="app-walkthrough-image"></p>
<br>
 <p>Click on SQL Editor. <img src="/public/images/editor-icon.png" class="app-walkthrough-icon"></p>   

<p><img src="/public/images/editor.png" class="app-walkthrough-image"></p>

 <br> 

<h2 class="govuk-heading-m">Create a query</h2>
<p>You should see the SQL warehouse dashboard.<br>By default, warehouses are sorted by state - running warehouses first - then in alphabetical order.</p>

<p><img src="/public/images/sql-area.png" class="app-walkthrough-image"></p>
    <p>Click <img src="/public/images/plus-icon.png" class="app-walkthrough-icon"><STRONG> New</STRONG>  in the sidebar and select <STRONG>Query</STRONG>.</p>
    <p><img src="/public/images/sql-new.png" class="app-walkthrough-image"></p>
    <p>Type <STRONG>SELECT</STRONG> in the box and start typing. The browser will suggest databases and tables that are available to you.</p>
    <br>
    
  

 
  <p><img src="/public/images/sql-query1.png" class="app-walkthrough-image"></p>

  <br><br>
  <h2 class="govuk-heading-m">Consruct a query</h2>
<p>You can construct a query by inserting elements from the schema browser or typing in the SQL editor.</p>


  <ul class="govuk-list govuk-list--bullet">
    <li>To insert an object from the schema browser into the SQL editor, click the double arrow on the right of a data object.</li>
    <li>Type <STRONG>wer</STRONG> query in the SQL editor.  </li>
    
  </ul>
 <p>SQL editor supports autocomplete. As you type, it suggests completions. For example, if a valid completion at the cursor location is a column, it wil suggest a column name. If you type select * from table as t where t., autocomplete recognizes that t is an alias for table and suggests the columns inside table.</p> 
<p><img src="/public/images/sql-query1.png" class="app-walkthrough-image"></p>
<br><br>

  
  

<br><br>
<a href="walk-sql-edit" class="govuk-button show-continue" style="display: inline;">
      Next - edit multiple queries
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}